{% extends "base-with-sidebar.html" %}
{% load authperm %}
{% load staticres %}

{% block title %}
	编辑文章 - 丘丘塔台
{% endblock %}

{% block sidebar %}
{% include "home/sysconf.sidebar.html" %}
{% endblock %}

{% block head %}
{% res js "duallistbox" %}
{% endblock %}

{% block content %}
<form class="form-horizontal" role="form" action="" method="POST" >
	{% csrf_token %}
    {% for item in form %}
	<div class="form-group">
		<label class="control-label col-md-1">{{item.label}}</label>
		<div class="col-md-11">{{item}}</div>
		<div class="col-md-offset-1 col-md-10">{{item.errors}}</div>
	</div>
	{% endfor %}
	<div class="form-group">
		<div class="col-md-offset-1 col-md-10">
			<button type="submit" class="btn btn-primary btn-lg">提交更改</button>
		</div>
	</div>
</form>
<script>
    var catbox = $('select[name="category"]').bootstrapDualListbox({
          nonSelectedListLabel: '可选择分类',
          selectedListLabel: '已选择分类',
          preserveSelectionOnMove: 'moved',
          moveOnSelect: false,
    });
</script>
{% endblock %}