{% extends "base-with-sidebar.html" %}
{% load authperm %}
{% load staticres %}

{% block title %}
	输入查看密码 - 丘丘塔台
{% endblock %}

{% block sidebar %}
	{% include "home/front.sidebar.html" %}
{% endblock %}

{% block content %}
<form class="form-horizontal" role="form" action="{% url 'pichublog_postview' pid %}" method="POST">
	{% csrf_token %}
	<div class="alert alert-info" role="alert"><b>友情提示：</b>查看本文章需要输入密码~</div>
	<div class="form-group">
		<label for="passwd">密码：</label>
		<input id="passwd" name="ppppppppaaaaaassssssssssssswwwwwooorrrrrdddd" class="form-control" type="password" placeholder="请输入密码..." />
	</div>
	<div class="form-group">
		<div class="col-md-offset-1 col-md-10">
			<button type="submit" class="btn btn-primary btn-lg">确定</button>
		</div>
	</div>
</form>
<script>
    var catbox = $('select[name="category"]').bootstrapDualListbox({
          nonSelectedListLabel: '可选择分类',
          selectedListLabel: '已选择分类',
          preserveSelectionOnMove: 'moved',
          moveOnSelect: false,
    });
</script>
{% endblock %}