{% extends "base-with-sidebar.html" %}
{% load authperm %}
{% load crypto %}
{% load staticres %}
{% load htmlutils %}

{% block title %}
{% ifequal ctname "*" %}
	全部文章 - 丘丘塔台
{% else %}
	分类浏览：{{ctname}} - 丘丘塔台
{% endifequal %}
{% endblock %}

{% block sidebar %}
{% include "home/front.sidebar.html" %}
{% endblock %}

{% block content %}
<div class="btn-toolbar">
	<div class="btn-group">
		{% ifperm "pichublog" "Writer" %}
			{% url "pichublog_catadd" as pichublog_catadd %}
			<a class="btn btn-primary {%if request.path = pichublog_postadd %} active {% endif %}" href="{{ pichublog_catadd }}">
				<span class="glyphicon glyphicon-plus"></span>
				新建文章
			</a>
		{% endifperm %}
		<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="$('#FilterCollapse').collapse('toggle');">
			<span class="glyphicon glyphicon-filter"></span>
			显示筛选器
		</button>
	</div>
</div>
<br />
<div class="collapse" id="FilterCollapse">
	{{FilterHTML|safe}}
</div>
<div>{% include "common/paginator.html" %}</div>
<br />
<ul class="list-group">
	{% for i in TopList %}
	<li class="list-group-item">
		<h3>
			<span class="label label-success" style="display:inline-block">置顶</span>
			{% if i.private %}
				{% if i.passwdlck %}
					<span class="label label-warning" style="display:inline-block">密码保护</span>
				{% else %}
					<span class="label label-warning" style="display:inline-block">访问限制</span>
				{% endif %}
			{% endif %}
			<a href="{% url 'pichublog_postview' i.id %}">{{i.title}}</a>
		</h3>
		<p>
			<b>作者：</b>{{i.author.nick}}&nbsp;&nbsp;&nbsp;
			<b>发布时间：</b>{{i.pubtime|date:"Y-m-d H:i:s"}}&nbsp;&nbsp;&nbsp;<br />
			<strong>分类：</strong>
			{% for j in i.category.all %}
				<a href="{% url 'pichublog_postlist' j.engname %}"><span class="label label-info" style="display:inline-block">{{j.title}}</span></a>
			{% endfor %}
		</p>
		<blockquote>{% mksummary i.html "233" %}</blockquote>
	</li>
	{% endfor %}
	{% for i in lPage %}
	<li class="list-group-item">
		<h3>
			{% if i.private %}
				{% if i.passwdlck %}
					<span class="label label-warning" style="display:inline-block">密码保护</span>
				{% else %}
					<span class="label label-warning" style="display:inline-block">访问限制</span>
				{% endif %}
			{% endif %}
			<a href="{% url 'pichublog_postview' i.id %}">{{i.title}}</a>
		</h3>
		<p>
			<b>作者：</b>{{i.author.nick}}&nbsp;&nbsp;&nbsp;
			<b>发布时间：</b>{{i.pubtime|date:"Y-m-d H:i:s"}}&nbsp;&nbsp;&nbsp;<br />
			<strong>分类：</strong>
			{% for j in i.category.all %}
				<a href="{% url 'pichublog_postlist' j.engname %}"><span class="label label-info" style="display:inline-block">{{j.title}}</span></a>
			{% endfor %}
		</p>
		<blockquote>{% mksummary i.html "233" %}</blockquote>
	</li>
	{% endfor %}
</ul>
<br />
<div>{% include "common/paginator.html" %}</div>
{% endblock %}