{% extends "base-with-sidebar.html" %}
{% load staticres %}

{% block title %}
{{bpo.title}} - 丘丘塔台
{% endblock %}

{% block sidebar %}
{% if bkmode %}
  {% include "home/sysconf.sidebar.html" %}
{% else %}
  {% include "home/front.sidebar.html" %}
{% endif %}
{% endblock %}

{% block content %}
<div class="btn-toolbar">
    <div class="btn-group">
        <a class="btn btn-primary" href="javascript:history.go(-2);">
            <span class="glyphicon glyphicon-chevron-left"></span>
            后退
        </a>
    </div>
    <div class="btn-group">
        <a class="btn btn-info" href="#context">
            正文
        </a>
        <a class="btn btn-info" href="#commentBox">
            评论
        </a>
        {% if not bkmode %}
        <a class="btn btn-info" href="#commentAdd">
            发表评论
        </a>
        {% endif %}
    </div>
</div>
<br />
<div class="panel panel-info">
  <div class="panel-heading"><h4 class="panel-title">
    {{bpo.title}}
    {% if bkmode %}
      (-*-预览-*-)
    {% endif %}
  </h4></div>
  <div id="context" class="panel-body">
    <div class="well well-sm">
      <strong>{{bpo.author.nick}}</strong>&nbsp;发表于{{i.pubtime|date:"Y-m-d H:i:s"}}
      <br />
      <strong>分类：</strong>
      {% for j in bpo.category.all %}
        <a href="{% url 'pichublog_postlist' j.engname %}"><span class="label label-info" style="display:inline-block">{{j.title}}</span></a>
      {% endfor %}
    </div>
    <div class="markdown">{{bpo.content|safe}}</div>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading"><h4 class="panel-title">评论</h4></div>
  <div id="commentBox" class="panel-body">
    载入中...
  </div>
</div>

{% if not bkmode %}
<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">发表评论</h4>
  </div>
  <div id="commentAdd" class="panel-body">
    <div class="container main-container-with-sidebar">
      {% if allowcmt %}
      <form class="form-horizontal" role="form" action="{% url 'pichublog_cmtadd' bpo.id %}" method="POST" >
        {% csrf_token %}
        {% if not request.auth.islogin %}
        <div class="form-group">
          <label for="anonymousMail">电子邮箱</label>
          <input type="email" name="mail" class="form-control" id="anonymousMail" placeholder="电子邮箱（不会公开，仅管理员和本小说作者可见）">
        </div>
        <div class="form-group">
          <label for="anonymousSite">个人主页</label>
          <input type="text" name="website" class="form-control" id="anonymousSite" placeholder="个人主页">
        </div>
        <div class="form-group">
          <label for="anonymousNick">昵称</label>
          <input type="text" name="nick" class="form-control" id="anonymousNick" placeholder="昵称">
        </div>
        {% endif %}
        <div class="form-group">
          <label for="CmtCnt">内容</label>
          <textarea name="content" id="CmtCnt" class="form-control" rows="3" placeholder="评论内容"></textarea>
        </div>
        {% if not request.auth.islogin %}
        <div class="form-group">
          <label for="CmtCnt">验证码</label>
          <input type="text" name="captcha" id="CaptInput" class="form-control" placeholder="验证码">
        </div>        
        <div><img id="captcha_box" src="" alt="" class="img-thumbnail"></div>
        <div class="alert alert-info" role="alert"><strong>友情提示：</strong>注册后发表评论无需再输入验证码。
        <br />
        {% if bpo.freecomment %}
          {% if crws %}未注册用户的评论需经审核才能显示。{%endif%}
        {% endif %}
        </div>
        {% endif %}
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-primary">发表评论</button>
            {% if not request.auth.islogin %}
            <button type="button" class="btn btn-info" onclick="newCaptcha();">
              <span class="glyphicon glyphicon-refresh"></span>
              刷新验证码
            </button>
            {% endif %}
        </div>
      </form>
      {% else %}
        <div class="alert alert-danger" role="alert">作者只允许指定人员评论，您无权评论。</div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

<script type="text/javascript">
function LoadComment(page){
  $("#commentBox").html("载入中...");
  $("#commentBox").load("{% url 'pichublog_cmtshow' bpo.id %}?page="+page);
}
function pageturn_cmt(page){
  LoadComment(page);
}
function newCaptcha(){
  var uuid = uuidGenerate();
  var urlsource = "{{OutsiteCaptchaURL}}";
  var url = urlsource + uuid + ".png";
  $("#captcha_box").attr("src",url);
}
LoadComment(1);
newCaptcha();
</script>
{% endblock %}
