{% extends "base-with-sidebar.html" %}
{% load authperm %}
{% load staticres %}

{% block title %}
	设置权限 - 丘丘塔台
{% endblock %}

{% block sidebar %}
	{% ifequal rfm "a" %}
		{% include "home/sysconf.sidebar.html" %}
	{% else %}
		{% include "home/front.sidebar.html" %}
	{% endifequal %}
{% endblock %}

{% block head %}
{% res js "duallistbox" %}
{% res css "duallistbox" %}
{% res js "switch" %}
{% res css "switch" %}
{% res js "tagsinput" %}
{% res css "tagsinput" %}
{% endblock %}

{% block content %}
<form class="form-horizontal" role="form" action="" method="POST" onkeydown="if(event.keyCode==13)return false;" >
	{% csrf_token %}
    {% for item in form %}
    <input type="hidden" name="rfm" value="{{rfm}}">
	<div class="form-group">
		<label class="control-label col-md-1">{{item.label}}</label>
		<div class="col-md-11">{{item}}</div>
		<div class="col-md-offset-1 col-md-10">{{item.errors}}</div>
	</div>
	{% endfor %}
	<div class="form-group">
		<div class="col-md-offset-1 col-md-10">
			<button type="submit" class="btn btn-primary btn-lg">提交更改</button>
		</div>
	</div>
</form>
<script>
    $('select[name="readgrp"]').bootstrapDualListbox({
          nonSelectedListLabel: '可选择用户组',
          selectedListLabel: '已选择用户组',
          preserveSelectionOnMove: 'moved',
          moveOnSelect: false,
    });
    $('select[name="commentgrp"]').bootstrapDualListbox({
          nonSelectedListLabel: '可选择用户组',
          selectedListLabel: '已选择用户组',
          preserveSelectionOnMove: 'moved',
          moveOnSelect: false,
    });
    $("input[type='checkbox']").bootstrapSwitch();
    //$("select[name='readuin']").tagsinput('items');
    $("select[name='readuin']").tagsinput({
    	confirmKeys: [13, 32, 44],
    	tagClass: function(item) {
			switch (item.continent) {
				case 'right'   : return 'label label-primary';
				case 'wrong'  : return 'label label-danger label-important';
			}
		},
    });
    $("select[name='readuin']").on('beforeItemAdd', function(event) {
		// event.item: contains the item
		// event.cancel: set to true to prevent the item getting added
		console.log("id: "+event.item.id);
		console.log("text: "+event.item.text);
		console.log("container: "+event.item.continent);
		event.item.id = "233";
	});
    // $("select[name='readuin']").tagsinput({
    // 	confirmKeys: [13, 32, 44],
    // 	itemValue: function(item){
    // 		return "233";
    // 	}
    // });
    $("select[name='readuex']").tagsinput('items');
    $("select[name='commentuin']").tagsinput('items');
    $("select[name='commentuex']").tagsinput('items');
</script>
{% endblock %}