{% extends "base-with-sidebar.html" %}
{% load authperm %}
{% load staticres %}

{% block title %}
博客参数设置 - 丘丘塔台
{% endblock %}

{% block sidebar %}
{% include "home/sysconf.sidebar.html" %}
{% endblock %}

{% block content %}
	<div id="varlist_container">载入中...</div>
	<script type="text/javascript">
		function LoadVarList(){
			$("#varlist_container").html("载入中...");
			$("#varlist_container").load("{% url 'pichublog_sysvarajaxget' %}");
		}
		function editkey(keyname){
			var val = prompt("");
			var csrf = $.cookie("csrftoken");
			$("#varlist_container").html("处理中...");
			$.post("{% url 'pichublog_sysvarajaxedit' %}",{"key":keyname,"value":val,"csrfmiddlewaretoken":csrf},function(data){
				LoadVarList();
			});
		}
		LoadVarList();
	</script>
{% endblock %}