<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">
            <span class="glyphicon glyphicon-cog btn-xs"></span>
            博客设置
        </h4>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <span class="glyphicon glyphicon-console btn-xs"></span>
                    <a href="{% url 'pichublog_sysvarconf' %}">参数设置</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
