{% extends "base-with-sidebar.html" %}
{% load authperm %}
{% load staticres %}

{% block title %}
	{% if addmode %}
		新建分类 - 丘丘塔台
	{% else %}
		编辑分类 - 丘丘塔台
	{% endif %}
{% endblock %}

{% block sidebar %}
{% include "home/sysconf.sidebar.html" %}
{% endblock %}

{% block content %}
<div class="btn-toolbar">
	<div class="btn-group">
		{% url "pichublog_catlist" as pichublog_catlist %}
		<a class="btn btn-primary {%if request.path = pichublog_catlist %} active {% endif %}" href="{{ pichublog_catlist }}">
			<span class="glyphicon glyphicon-th-list"></span>
			分类列表
		</a>
		{% url "pichublog_catadd" as pichublog_catadd %}
		<a class="btn btn-primary {%if request.path = pichublog_catadd %} active {% endif %}" href="{{ pichublog_catadd }}">
			<span class="glyphicon glyphicon-plus"></span>
			新建分类
		</a>
	</div>
</div>
<br />
<form class="form-horizontal" role="form" action="" method="POST" >
	{% csrf_token %}
    {% for item in form %}
	<div class="form-group">
		<label class="control-label col-md-1">{{item.label}}</label>
		<div class="col-md-5">{{item}}</div>
		<div class="col-md-6">{{item.errors}}</div>
	</div>
	{% endfor %}
	<div class="form-group">
		<div class="col-md-offset-1 col-md-10">
			{% if addmode %}
				<button type="submit" class="btn btn-primary btn-lg">新建</button>
			{% else %}
				<button type="submit" class="btn btn-primary btn-lg">提交更改</button>
			{% endif %}
		</div>
	</div>
</form>
{% endblock %}